/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
body{
    background-color: #e5e7e7;
}
footer{
    background-color: #292929;
    color: white;
    
}
.menu {
    background-color: #292929 ;
}

.menu img {
    height: 100px;
    width: 112px;
    background-color: #e5e7e7;
}
.col-1 {
    padding-top: 20px;
    text-align: center;
}

.col-1 a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.home{
    margin-top: 100px;
    height: 80vh;
}

.carousel{
    height: 100%;
}
.carousel-inner{
    height: 100%;
}

.carousel-item.active{
    height: 100%;
}

#slide1 p, #slide2 p{
    background-color: #292929;   
    display: inline;
}

.album {
    padding: 50px 0;
    margin: 20px 0;
}

.scroll {
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;

}
  
.scroll div {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.card {
    height: 250px;
    width: 200px;
}

.card img {
    width: 170px;
    height: 170px;
}

.about{
}

.contact{
    width: 50%;
    margin: 0 auto 0 auto;
}

#networks a{
    color : white;
    text-decoration: none;
}

#mentions a{
    color : white;
    text-decoration: none;
}
#mentions p{
    margin-bottom: 0;
    padding-bottom: 20px;
}
#mentionslegales {
    padding-top: 200px ;
}
@media screen and (max-width: 737px)
{
    .col-1{
        width: auto;
    }
}